* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.material-icons-outlined {
    font-family: 'Material Icons' !important;
    color: grey;
}
nav {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    .nav-links {
        display: flex;
        width: 15%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
        .app {
            font-size: 24px!important;
            padding: 8px;
            border-radius: 50%;
            &:hover {
                background-color: rgb(236, 226, 226);
                text-decoration: none !important;
            }
        }
        .nav-link {
            text-decoration: none;
            font-size: 13px;
            color: #404040;
            font-weight: lighter;
            padding: 0 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.pfp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}