* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.material-icons-outlined {
    font-family: 'Material Icons' !important;
    color: grey;
}
nav {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    .nav-links {
        display: flex;
        width: 15%;
        justify-content: space-around;
        list-style: none;
        align-items: center;
         .app-link {
             text-decoration: none !important;
             font-size: 13px;
             .app {
              font-size: 24px!important;
               padding: 8px;
               border-radius: 50%;
                text-decoration: none;
               &:hover {
                    background-color: rgb(243, 235, 235);
             }
            }

        }
        .nav-link {
            text-decoration: none;
            font-size: 13px;
            color: #282828;
            padding: 0 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.pfp {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
main {
    max-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .search-box {
        display: flex;
        align-items: center;
        width: 582px;
        padding: 10px 15px;
        justify-content: space-between;
        margin: 20px;
        border-radius: 30px;
        color: grey;
        border: solid 1px lightgrey;
        &:hover {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.171);
        }
        .search {
            font-size: 20px;
        }
        .search-input {
            width: 90%;
            outline: none;
            border: none;
            font-size: 16px;
        }
    }
}